/* html{
  min-height: 10000px;
} */

*{
    margin:0;
    padding: 0;
    font-family: 'Arvo', serif;
    scroll-behavior: smooth;
    /* font-size: 1.1em; */
}

/* collor pallet */
/* https://coolors.co/8360c3-2ebf91-ea526f-231123-eff7ff */
/* https://coolors.co/d33f49-d7c0d0-eff0d1-77ba99-262730  second option */ 

body{
  /* background-color: #42440c; */
  
    padding-top: 50px;
    color: #262730;
    background-image: 
    linear-gradient(rgb(239, 240, 209,1), rgb(239, 240, 209,1)),
    url("both_halves.jpg");
    background-repeat: 
    no-repeat,
    no-repeat;
    background-position: 
    center,
    center; 
    background-attachment:
    fixed,
    fixed;
    background-size:
    40% 100%,
    100% auto;
    opacity:
    1,
    1;
    

}




/* .container-fluid{
    opacity: 0%;
    animation: appearing 0.2s ease 0.2s 1 forwards;
} */

.grid-container {
    display: grid;
    grid-template-columns: 15% 15% 40% 15% 15%;
    gap: 0px;
    /* background-color: #D33F49; */
    /* padding: 2px; */
  }

  .grid-container > .search-item {
    /* background-color: rgba(255, 255, 255, 1); */
    border: 1px solid black;
    grid-column-start: 3;
    text-align: center;
  
    padding: 0.5vh 0px;

    
    font-size: 30px;
    width: auto;

    display: flex;
    justify-self: center;
    flex-basis: 100%; 

  }

  /* #search_bar{
    display: flex;
    justify-content: center;
    flex-grow: 1;
  } */

  .min_width_elem{
    /* min-width: 400px; */
    min-width: 20vw;
  }

  .grid-container > .centralized-item {
    grid-column: 3 / 4;
    /* background-color: rgba(255, 255, 255, 1); */
    border: 1px solid black;
    text-align: center;
    /* padding: 0.5vh 0; */
    width: auto;
    /* min-width: 30vw; */
    display: flex;
    justify-self: center;
    flex-basis: 100%; 
  }

  .grid-container > .grid-item {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid black;
    text-align: center;
    /* padding: 10px 10px; */
    /* width: auto; */
    /* font-size: 30px; */
    padding: 5%;
    /* display: flex;
    
    
    justify-self: stretch;
    flex-basis: 100%; */
    
  }

  .grid-container > nav {
    /* padding: 10px 0; */
    font-size: 1em;
    grid-column: 1 / span 5;
  }

  .grid-container > .grid-explain {
    grid-row: 5;
    grid-column: 3 / 4;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid black;
    text-align: center;
    /* padding: 10px 0; */
    /* width: auto; */
    opacity: 0;
    /* width: auto; */
    /* min-width: 40vw; */
    
    /* display: flex;
    justify-self: stretch;
    flex-basis: 100%; */
  }

#dial{
    /* max-width: 80px; */
    position: relative;
    /* top: 10%; */
    margin: auto;
    opacity: 0%;
    animation: appearing 0.8s ease 0.2s 1 forwards;
}

#navbar{
    /* position: fixed; */
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    animation: comein_down 0.3s ease 0s 1 forwards;
}

#search_bar{
    /* width: 20%; */
    margin: auto;
    animation: comein_left 0.5s ease 0s 1 forwards;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.asteriskField {
    display: none;
}

.positive{
  opacity: 0%;
  animation: comein_left 0.8s ease 0.5s 1 forwards;
}

.negative{
  opacity: 0%;
  animation: comein_right 0.8s ease 1s 1 forwards;
}

#explain_button a:link{
  text-decoration: none
}

#explain_button a:active{
  text-decoration: none
}

#explain_button a{
  color: #262730
}

.appear {
  animation: appearing 0.8s ease 0.2s 1 forwards;
}

#cute_cat:hover{
  filter: opacity(50%);
}

.centered_item{
  max-width: 40%;
  
  margin: 1vh auto;
}

@keyframes comein_left {
    from {transform: translateX(-10em);
        opacity: 0%
        ;
    /* transform: rotate(180deg);} */}
    to {
        opacity: 100%}
        /* transform: rotate(0deg)} */
}

@keyframes comein_right {
  from {transform: translateX(10em);
      opacity: 0%
      ;
  /* transform: rotate(180deg);} */}
  to {
      opacity: 100%}
      /* transform: rotate(0deg)} */
}

@keyframes appearing {
    from {
        opacity: 0%
        ;
    /* transform: rotate(180deg);} */}
    to {
        opacity: 100%}
        /* transform: rotate(0deg)} */
}

@keyframes comein_down {
    from {transform: translateY(-10em);
        opacity: 0%
        ;
    /* transform: rotate(180deg);} */}
    to {
        opacity: 100%}
        /* transform: rotate(0deg)} */
}

@media only screen and (max-width: 767px){
  /* phones */
  body{
      padding-top: 65px;
      color: #302926;
      /* color: #d86328; */
      background-image: 
      linear-gradient(rgb(239, 240, 209,1), rgb(239, 240, 209,1)),
      url("both_halves_mobile.jpeg");
      background-repeat: 
      no-repeat,
      no-repeat;
      background-position: 
      center,
      center; 
      background-attachment:
      fixed,
      fixed;
      background-size:
      70% 100%,
      100% auto;
      opacity:
      1,
      1;
      
      
  
  }

  .grid-container {
    display: grid;
    grid-template-columns: 7.5% 7.5% 70% 7.5% 7.5%;
    
    /* grid-template-columns: auto auto auto auto auto; */
    gap: 0px;
    /* background-color: #D33F49; */
    /* padding: 2px; */
  }

  .min_width_elem{
    /* min-width: 400px; */
    min-width: 50%;
  }

  .grid-container > .grid-explain {
    grid-row: 5;
    grid-column: 3 / 4;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid black;
    text-align: center;
    /* padding: 10px 0; */
    width: auto;
    opacity: 0;
    /* width: auto; */
    /* min-width: 40vw; */
    
    /* display: flex;
    justify-self: stretch;
    flex-basis: 100%; */
  }

  .centered_item{
    max-width: 70vw;
    padding-top: 20px;
    margin: 1vh auto;
  }

  
}