{% extends 'main/base.html' %}

{% block title %}
    Reddit emotions 
{% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'LoveHateGame/train.css' %}" type="text/css" media="screen">
    <script type='text/javascript' src="{% static 'LoveHateGame/train_scripts.js' %}"></script>
{% endblock head %}
{% load crispy_forms_tags %}

{% block content %}

<!-- <span class="grid-container">
    <span class="centralized-item"> -->
                
        <span id ="loading_bar" class="spinner-border centered_item" role="status">
            <span class="visually-hidden">Loading...</span>
        </span>

        <div id="contents">
            <div class="testimonial centered_item">
               
                <blockquote>
                    {{post_title}}
                </blockquote>
                
                <div></div>
                <p>
                    
                    {{author}} &mdash; {{subreddit}}
                </p>
                
            </div>
        </div>

        
    <!-- </span> -->
<!-- </span> -->
{% endblock %}
{% block content_2 %}
<span id="emot_buttons" class="grid-container">
    <span class="centralized-item">
        <form class="form-group" method="POST">
            {% csrf_token %}
            <button name="train_button" value="1" type="submit" class="btn btn-success">Positive</button>
            <button name="train_button" value="-1" type="submit" class="btn btn-danger">Negative</button>
            <button name="train_button" value="0" type="submit" class="btn btn-secondary">Neither</button>
        </form>
    </span>
</span>
{% endblock content_2 %}

