{% extends 'main/base.html' %}

{% block title %}
    Reddit emotions 
{% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'LoveHateGame/train.css' %}" type="text/css" media="screen">
    
{% endblock head %}
{% load crispy_forms_tags %}

{% block content %}
<script>
$(document).ready(function(){
    $("button").on("click",function(){
        
        $("#content").animate({
          left: '3em',
          opacity: '0',
          height: '20px',
          width: '1000px'
        });
      }); 
    })
</script>
<!-- <span class="grid-container">
    <span class="centralized-item"> -->
        <div id="content">
            <div class="testimonial centered_item">
                <blockquote>
                    {{post_title}}
                </blockquote>
                <div></div>
                <p>
                    {{author}} &mdash; {{subreddit}}
                </p>
            </div>
        </div>
    <!-- </span> -->
<!-- </span> -->
{% endblock %}
{% block content_2 %}
<span class="grid-container">
    <span class="centralized-item">
        <form class="form-group" method="POST">
            {% csrf_token %}
            <button name="train_button" value="1" type="submit" class="btn btn-success">Positive</button>
            <button name="train_button" value="-1" type="submit" class="btn btn-danger">Negative</button>
            <button name="train_button" value="0" type="submit" class="btn btn-secondary">Neither</button>
        </form>
    </span>
</span>
{% endblock content_2 %}

