{% extends 'main/base.html' %}

{% block title %}
    Reddit emotions 
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{{post_title}}
<br>
<br>
<br>
{% block more_content %}
<form class="form-group" method="POST">
    {% csrf_token %}
    <button name="positive" value="clicked" type="submit" class="btn btn-outline-success">Positive</button>
    <button name="none" value="clicked" type="submit" class="btn btn-outline-secondary">Neutral</button>
    <button name="negative" value="clicked" type="submit" class="btn btn-outline-danger">Negative</button>
</form>
{% endblock more_content %}
{% endblock %}