{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
<head>
  {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- CSS CUSTOM -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/style.css' %}" type="text/css" media="screen">

    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/48/000000/bipolar-disease.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">

    <script type='text/javascript' src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type='text/javascript' src="{% static 'main/main_scripts.js' %}"></script>
    <script type='text/javascript' src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    
    
    {% comment %} <script type='text/javascript' src="{% static 'main/jquery-3.6.0.min.js' %}"></script> {% endcomment %}
    

    
    <title>{% block title %}Reddit emotions{% endblock %}</title>

    {% block head %}
    {% endblock head %}
</head>

<body>
  <span class="body_content">
    <div class="grid-container">
      <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <img src="https://img.icons8.com/color/48/000000/bipolar-disease.png" alt="" width="35" height="35" class="d-inline-block align-text-center" style="margin-right:10px">
          <a class="navbar-brand" href="/"> Reddit emotions</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" id="home_panel" aria-current="page" href="/">Home</a>          
              <a class="nav-link" id="train_panel" aria-current="page" href="/train">Train</a>          
              {% if request.user.is_authenticated is False %}
              <a class="nav-link" id="register_panel" href="/register">Register</a>
              <a class="nav-link" id="login_panel" href="/login">Login</a>
              {% else %}
              <a class="nav-link" id="username_panel" href="/search requests">{{request.user.username}}</a>
              <a class="nav-link" href="/logout">Logout</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
  </div>
    <div id="content" name="content">
	{% block content %}
	{% endblock %}
  {% block content_2 %}
	{% endblock %}
  {% block content_3 %}
  {% endblock  %}
    </div>
 
  

  {% comment %} <script src="{% static 'main/jquery-3.6.0.min.js' %}"></script> {% endcomment %}


  </span>
  
</body>
</html>