{% extends 'main/home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Emotion check
{% endblock %}

{% block head %}
<script type='text/javascript' src="{% static 'main/dial_script.js' %}"></script>
<link rel="stylesheet" href="{% static 'LoveHateGame/train.css' %}" type="text/css" media="screen">

{% endblock head %}

{% block content_2 %}
    <br>
    {% if score is not None %}
        <h2 class="centered_item">Positivity meter for "{{query}}":</h2>        
        <div class="grid-container">
            <span class="centralized-item">
                <div class="container chart" id="dial" data-size="300" data-value="{{score}}" data-arrow="up">
                </div>
            </span>
        </div>
        
        <h2 style="color:green" class="centered_item positive">Most positive sentences:</h2>
        {% for a in sentences %}

        {% if forloop.counter0 == 3 %}
            <h2 style="color:red" class="centered_item negative">Most negative sentences:</h2>
        {% endif %}
            <!-- <div id="content"> -->{% if forloop.counter0 < 3 %}
                <div class="testimonial positive centered_item">
            {% else %}
                <div class="testimonial negative centered_item">
            {% endif %}
                
                    <blockquote>
                        {{a.sentence}} <br>
                        <h4>Score: {{a.sentence_score}}</h4>
                    </blockquote>
                    <div></div>

                </div>
            <!-- </div> -->
        {% endfor %}


    {% else %}
        <h2 class="centered_item">Error, no results found!</h2>
    {% endif %}




{% endblock content_2 %}

