{% extends 'main/base.html' %}

{% block title %}
    Reddit emotions
{% endblock %}


{% load crispy_forms_tags %}

{% block content %}
    {% comment %} <form method="GET" action="/" class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            {{emot_search | crispy}}
            </div>
            <button name="search_but" type="submit" value="clicked" class="btn btn-success">Search</button>
        </div>
    </form> {% endcomment %}
<div class="grid-container">
    <div class="search-item">   
        <div id="search_bar">
            <span class="min_width_elem">
                <form  method="GET">
                    {% csrf_token %}
                    {% comment %} <span class="pr-5"> {% endcomment %}
                    {{emot_search | crispy}}
                    {% comment %} </span> {% endcomment %}
                    {% comment %} <button name="search_but" value="clicked" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> {% endcomment %}
                    <button name="search_but" value="clicked" type="submit" class="btn btn-primary mb-2 btnFetch">Search</button>
                </form>
                <span style="font-size: 20px;">How does it work?</span>  
            </span>
        </div>
    </div>
    <div class="grid-item"> </div>
    <div class="grid-item"> </div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"> </div>
    <div class="grid-item"> </div>
    <div class="grid-item"> </div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    
    <div class="grid-explain">How does it work?</div>


</div>

{% endblock %}
