{% extends 'main/base.html' %}

{% block title %}
    Reddit emotions
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    {% comment %} <form method="GET" action="/" class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            {{emot_search | crispy}}
            </div>
            <button name="search_but" type="submit" value="clicked" class="btn btn-success">Search</button>
        </div>
    </form> {% endcomment %}
<div id="search_bar" class="form-inline">    
        <form  method="GET">
            {% csrf_token %}
            <span class="pr-5">
            {{emot_search | crispy}}
            </span>
            {% comment %} <button name="search_but" value="clicked" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> {% endcomment %}
            <button name="search_but" value="clicked" type="submit" id="btnFetch" class="btn btn-primary mb-2">Search</button>
        </form>
</div>
    
{% endblock %}
