{% extends 'main/base.html' %}

{% block title %}
    Reddit emotions
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% if logged_in is True %}
    <ol class="list-group list-group-numbered">
        Hello {{username}}, these are your previous searches:
        {% for search in searches %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">{{search.query}}</div>
            Cras justo odio
            </div>
            <span class="badge bg-primary rounded-pill">14</span>
        </li>
        {% endfor %}
    </ol>
{% else %}
        You are not logged in, please log in to view your previous results
{% endif %}
    {% block more_content %}{% endblock more_content %}
{% endblock %}